@{
    ViewData["Title"] = "Date Me";
}

<div class="text-center">
    <h1 class="display-4">Date Me!</h1>
    <p>Today is your lucky day! You may have an opportunity to date this awesomeness!</p>
</div>

<img class="text-center" src="~/img/kyliepic.png" />
<br /><br />

<div>
    <a asp-controller="Home" asp-action="DatingApplication">Fill Out Application</a>
</div>